.inline-list {
    list-style: none;
    p {
        font-size: 20px;
    }
}
.mis-match {
    color: #34B06A;
    margin: 0px 0px 15px 0px;
    .sec-one {
        margin: 15px 0px;
        .match {
            padding: 0;
        }
        .sec-four1 {
            margin: 0px 20px 0px 0px;
        }
        .sec-four2 {
            margin: 0px 0px 0px 20px;
        }
    }
    .sec-two {
        margin: 15px 0px;
        padding: 0;
    }
    .sec-three {
        margin: 15px 0px;
        padding: 0;
    }    
    .prod-title {
        color: black;
        margin: 10px 0px;
        .row{
            margin: 15px 0px;
        }
        .current{
            height: 12px;
            width: 12px;
            background-color: #EB678F;
            display: block;
            border-radius: 50%;
            margin-left: 8px;
        }
        .sec-five {
            color: #CDCDCD;
        }
        .sec-des {
            color: #EB678F;
        }
        .sec-des2 {
            color: #34B06A;
        }
    }
    .prod-des {
        color: #6FC8CC;
        // color: red;
    }
    .sec-six {
        margin: 15px 0px;
    }
    .btn-success {
        // border-radius: 10%;
        margin-right: 15px;
        border-radius: 40px;
        background-color: #34B06A;
        width: 40%;
    }
    .btn-danger {
        border-radius: 40px;
        background-color: #EB678F;
        width: 40%;
        border: 0;
    }
}
.prod {
    .prod-types {
        float: right;
        ul {
            float: right;
        }       
        li{
            list-style-type:none;
            margin-right: 15px;
            font-size: 13px;
        }
        li:before{
            content:'\00b7'; 
            font-size:69px; 
            line-height:24px; 
            vertical-align: text-top;
        }
        .low-inventory {
            color: #6FC8CC;
        }
        .out {
            color: #EB678F;
        }
        .mis-match {
            color: #34B06A;
        }
    }
}
.final-sec {
    margin: 18px 0px 0px 15px;
    img {
        width: 100%;
    }
    .prod-title {
        color: black;
    }
    .prod-des {
        margin-top: 10px;
        color: #6FC8CC;
    }
    .count {
        margin-top: 45px;
        .prod-title {
            color: #CDCDCD;
        }
        .prod-num {
            color: #34B06A;
        }
        .prod-missing {
            color: #EB678F;
        }
        .prod-out {
            color: #6FC8CC;
        }
    }
}
.video {
    margin: 50px;
}

.upload {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    h1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    button { 
        margin-top: 10px;
        width: 50%;
    }
}
.inputImg {
    p {
        margin-bottom: 15px;
    }
}

.Brand-sec {
    h3 {
        text-align: center;
        color: #264C97;
        font-size: 24px;
        margin: 25px 0px;
    }
    fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px solid #ccc;
      }
      legend {
        width: 50% !important;
        max-width: 100%;
        padding: 0px 8px !important;
        color: #264C97;
    }
}
.dropdown {
    select {
        padding: 5px;
        width: 100%;
        background-color: DodgerBlue;
        color: #FFFF;
    }
}
.output {
    margin-top: 30px;
}
.options {
    margin-top: 25px;
}
#upload-file-info {
    display: inline-block;
    max-width: 58%;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.or {
    margin: 10%;
}